.course-card{
  background-color: #f6f3f3;
  width: 100%;
  padding-bottom: 5rem;
}
.main-back{
  background-image: url(images/Our\ Courses.png);
  height: 40vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}
